/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrap {
  margin: 0 auto; }
  .wrap--header {
    height: 1070px;
    width: 1920px;
    background-image: url(../images/headerbackground.png); }
  .wrap--body {
    height: 6000px;
    width: 1920px; }

.containerHeader {
  width: 1640px;
  height: 154px;
  float: left;
  margin-left: 140px;
  margin-top: 108px; }

.logoHeader {
  width: 177px;
  height: 155px;
  float: left;
  background-image: url(../images/headerlogo.png); }

.navBar {
  width: 658px;
  height: 30px;
  float: left;
  margin-top: 35px;
  margin-left: 303px;
  display: inline-block;
  list-style-type: none;
  text-align: center; }

.navBar li {
  display: inline; }

.navBar a {
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  color: white;
  font-size: 22px;
  display: inline-block;
  padding: 10px; }

.profileText {
  width: 120px;
  height: 22px;
  float: right;
  margin-top: 44px;
  margin-right: 14px; }

.profileText a {
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  color: white;
  font-size: 15px; }

.profileImg {
  width: 74px;
  height: 74px;
  float: right;
  margin-top: 17px;
  background-image: url(../images/headerslika1.png); }

.containerHeaderTextsmall {
  width: 470px;
  height: 94px;
  float: left;
  margin-top: 181px;
  margin-left: 668px;
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  font-size: 60px;
  color: #00ACEC; }

.containerHeaderTextlarge {
  width: 960px;
  height: 171px;
  float: left;
  margin-left: 480px;
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  font-size: 80px;
  color: #00ACEC; }

.headerFire {
  width: 40px;
  height: 66px;
  float: left;
  margin-left: 920px;
  background-image: url(../images/headerslika2.png); }

.headerScroll {
  width: 30px;
  height: 50px;
  float: left;
  margin-top: 150px;
  margin-left: 945px;
  background-image: url(../images/headerslika3.png); }

.headerButton {
  width: 22px;
  height: 14px;
  float: left;
  margin-top: 13px;
  margin-left: 948px;
  background-image: url(../images/headerslika4.png); }

.body--header {
  width: 730px;
  height: 110px;
  margin-top: 50px;
  margin-left: 522px;
  float: left; }

.body--text {
  width: 1310px;
  height: 362px;
  margin-top: 110px;
  margin-left: 305px;
  float: left;
  font-family: 'comfortaa', cursive;
  font-size: 20px;
  text-align: center;
  line-height: 52px; }

.body--headerImg {
  width: 90px;
  height: 90px;
  background-image: url(../images/body-2.png);
  margin-top: 93px;
  margin-left: 615px;
  float: left; }

.body--headerSmall {
  width: 460px;
  height: 60px;
  margin-top: 120px;
  margin-left: 25px;
  float: left;
  font-family: 'comfortaa', cursive;
  font-size: 45px;
  font-weight: lighter;
  color: #686868; }

.body--container {
  width: 1640px;
  height: 240px;
  float: left;
  margin-left: 140px;
  margin-top: 140px; }

.bitcoinImg {
  width: 83px;
  height: 110px;
  float: left;
  background-image: url(../images/body-1.png);
  font-weight: lighter; }

.bitcoinText {
  width: 600px;
  height: 80px;
  margin-left: 46px;
  margin-top: 25px;
  float: left;
  font-family: 'comfortaa', cursive;
  font-size: 50px;
  font-weight: lighter;
  color: #686868; }

.arrow--left {
  width: 30px;
  height: 49px;
  float: left;
  margin-top: 30px;
  background-image: url(../images/left.png); }

.arrow--right {
  width: 30px;
  height: 49px;
  float: right;
  margin-top: 30px;
  background-image: url(../images/right.png); }

.moneyContainer--bitcoin {
  width: 400px;
  height: 100px;
  float: left;
  margin-left: 100px; }

.moneyContainer--ripple {
  width: 400px;
  height: 100px;
  float: left;
  margin-left: 90px; }

.moneyContainer--peer {
  width: 400px;
  height: 100px;
  float: left;
  margin-left: 90px; }

.moneyImg {
  margin-top: 5px;
  width: 100px;
  height: 90px;
  float: left; }

.moneyText {
  width: 115px;
  height: 20px;
  margin-left: 10px;
  font-family: 'comfortaa', cursive;
  font-size: 15px;
  color: #A5A5A5;
  font-weight: bold;
  float: left; }

.moneyBuySell {
  width: 65px;
  height: 20px;
  margin-left: 10px;
  margin-top: 20px;
  font-family: 'comfortaa', cursive;
  font-size: 15px;
  color: #808080;
  font-weight: bold;
  float: left; }

.moneyNumbers {
  width: 70px;
  height: 20px;
  margin-top: 20px;
  font-family: 'comfortaa', cursive;
  font-size: 15px;
  color: #808080;
  font-weight: bold;
  float: left; }

.moneymoney {
  float: left;
  height: 100px;
  width: 145px; }

.moneypzgreen {
  float: left;
  margin-left: 10px;
  margin-top: 45px;
  width: 86px;
  height: 45px;
  font-family: 'comfortaa', cursive;
  font-size: 32px;
  font-weight: bold;
  color: #55AA55; }

.green1 {
  width: 50px; }

.moneypzred {
  float: left;
  margin-left: 10px;
  margin-top: 45px;
  width: 86px;
  height: 45px;
  font-family: 'comfortaa', cursive;
  font-size: 32px;
  font-weight: bold;
  color: #AA5555; }

.moneyarrow {
  width: 20px;
  height: 10px;
  float: left;
  margin-top: 55px;
  margin-left: 20px; }

.moneyAll {
  margin-top: 160px;
  width: 120px;
  height: 35px;
  border: 1px solid #00ACEC;
  border-radius: 18px;
  color: white;
  font-family: 'comfortaa', cursive;
  font-size: 20px;
  background-color: #00ACEC;
  margin-left: 46%;
  text-align: center;
  font-weight: bold;
  line-height: 2; }

.arrowbluedown {
  width: 20px;
  height: 30px;
  float: left;
  margin-left: 49%;
  margin-top: 25px; }

.news {
  width: 1920px;
  height: 1520px;
  float: left;
  background-image: url(../images/newsbg.png);
  display: block; }

.hnews {
  margin-top: 270px;
  margin-left: 40px;
  width: 710px; }

.inews {
  margin-top: 240px;
  margin-left: 700px;
  background-image: url(../images/consultoria.png); }

.headerblue {
  width: 275px;
  height: 60px;
  float: left;
  font-family: 'comfortaa', cursive;
  font-size: 40px;
  font-weight: bold;
  color: #00ACEC;
  margin-left: 135px;
  margin-top: 65px;
  line-height: 2; }

.marginblue {
  margin-left: 880px; }

.video {
  width: 525px;
  height: 345px;
  float: left;
  background-image: url(../images/Group%2020.png);
  margin-left: 135px;
  margin-top: 50px; }

.marginvideo {
  margin-left: 40px; }

.newsText {
  width: 485px;
  height: 345px;
  float: left;
  margin-left: 40px;
  margin-top: 50px;
  font-family: 'comfortaa', cursive;
  font-size: 20px;
  font-weight: bold;
  color: #A5A5A5;
  padding-left: 10px;
  line-height: 55px; }

.tsmall {
  width: 1090px;
  height: 170px;
  margin-left: 120px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-top: 30px; }

.margintop {
  margin-top: 30px; }

.newsall {
  width: 120px;
  height: 35px;
  float: left;
  margin-left: 47%;
  border: 1px solid #00ACEC;
  border-radius: 18px;
  color: white;
  font-family: 'comfortaa', cursive;
  font-size: 20px;
  background-color: #00ACEC;
  text-align: center;
  font-weight: bold;
  line-height: 2; }

.margin50 {
  margin-top: 30px; }

.arrowmargin {
  margin-left: 49.5%; }

.iassets {
  margin-top: 100px;
  margin-left: 795px;
  width: 90px;
  height: 106px;
  background-image: url(../images/banco.png); }

.hassets {
  margin-left: 40px;
  margin-top: 140px; }

.assets {
  width: 1920px;
  height: 980px;
  float: left;
  background-image: url(../images/assetsbg.png);
  background-repeat: no-repeat; }

.assetsTable {
  width: 1640px;
  height: 710px;
  float: left;
  border: #707070 1px solid;
  border-radius: 40px;
  margin-left: 140px;
  margin-top: 100px;
  background-color: white; }

.assetsSearch {
  width: 306px;
  height: 50px;
  float: left;
  margin-top: 70px;
  margin-left: 35px;
  border: 1px solid #B9B9B9;
  border-radius: 26px;
  text-align: center;
  font-family: 'comfortaa', cursive;
  font-size: 20px;
  font-weight: lighter;
  color: #B9B9B9; }

.assetsimg {
  margin-top: 83px;
  margin-left: -1220px; }

.assetsText {
  width: 320px;
  height: 90px;
  float: left;
  margin-left: 310px;
  margin-top: 45px;
  line-height: 23px;
  font-family: 'comfortaa', cursive;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #B9B9B9; }

.h1margin {
  margin-top: 20px; }

.assetsBox {
  width: 100px;
  height: 30px;
  float: left;
  margin-left: 320px;
  margin-top: 80px;
  font-family: 'comfortaa', cursive;
  font-size: 18px;
  font-weight: lighter; }

.boxmargin {
  margin-left: 30px; }

.rectangle {
  margin-left: 10px; }

.tavletable {
  width: 1510px;
  height: 480px;
  float: left;
  margin-top: 60px;
  margin-left: 35px; }

.tableth {
  font-family: 'comfortaa', cursive;
  font-size: 22px;
  font-weight: lighter;
  color: #686868;
  text-align: center; }

.imgassets {
  width: 40px; }

.td {
  text-align: center; }

.tdgreen {
  color: #54D561; }

.tdred {
  color: #D55454; }
